
<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30">
    <div class="row">
        <div class="col-sm-6">
            <p>ALL RIGHTS RESERVED 2025 &copy; Kushal Enterprise</p>
            
        </div>
        <div class="col-sm-6 text-right">
            <p>Designed &amp; Developed by Sachin Jogdand & Mayur Chavan</p>
        </div>
    </div>
</footer>
<!-- /Footer -->