<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <!-- <li class="navigation-header">
      <span>Main</span> 
      <i class="zmdi zmdi-more"></i>
    </li> -->
    <li>
      <a href="dashboard"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="clearfix"></div></a>
    </li>
    <li>
      <a href="customermangement"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Customer Management</span></div><div class="clearfix"></div></a>
    </li>   
    <li>
      <a href="instrumentsmaster"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Instrument </span></div><div class="clearfix"></div></a>
    </li>
    <li>
      <a href="materialmaster"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Material </span></div><div class="clearfix"></div></a>
    </li>
    <li>
      <a href="makemaster"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Make</span></div><div class="clearfix"></div></a>
    </li>
    <li>
      <a href="jobregister"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Job Register</span></div><div class="clearfix"></div></a>
    </li>
    <li>
      <a href="companymaster"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Master list of Company</span></div><div class="clearfix"></div></a>
    </li>
    <li>
      <a href="calibrationlab"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Calibration lab</span></div><div class="clearfix"></div></a>
    </li>
  </ul>
</div>
<!-- /Left Sidebar Menu -->