<!DOCTYPE html>
<html lang="en">

<head>
	<%- include( '../partial/commonCss' ) %>
</head>

<body>
	
	<!--Preloader-->
	<div id="loading_coupon" class="d-none">
		<img id="loading-image" src="./img/Spinner-1s-200px.png" alt="Loading...">
		<divcaption id="loading-cap"></divcaption>
	</div>
	<!--/Preloader-->
	
	<div class="wrapper  pa-0">
		<!-- Main Content -->
		<div class="page-wrapper pa-0 ma-0 auth-page">
			<div class="container-fluid">
				<!-- Row -->
				<div class="table-struct full-width full-height">
					<div class="table-cell vertical-align-middle auth-form-wrap">
						<div class="auth-form  ml-auto mr-auto no-float">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="sp-logo-wrap text-center pa-0 mb-30">
										<a href="index.html" class="brand-logo">
											<img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
											<span class="brand-text"><strong class="text-danger">KUSHAL</strong>
												ENTERPRISES</span>
										</a>
									</div>
									<div class="mb-30">
										<h4 class="text-center txt-dark mb-10">Need help with your password?</h4>
										<h6 class="text-center txt-grey nonecase-font">Enter the email you use, and
											we’ll help you create a new password.</h6>
									</div>
									<div class="form-wrap">
										<div class="form-group">
											<label class="control-label mb-10" for="exampleInputEmail_2">Email
												address</label>
											<input type="email" class="form-control" required=""
												id="exampleInputEmail_2" placeholder="Enter email">
											<span class="error_span"></span>
										</div>
										<div class="form-group text-center">
											<button type="submit"
												class="btn btn-primary btn-sm btn-rounded reset-password">Reset</button>
										</div>
										<span class="text-success success-span"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

		</div>
		<!-- /Main Content -->
	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->

	<!-- jQuery -->
	<script src="../vendors/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>

	<!-- Init JavaScript -->
	<script src="dist/js/init.js"></script>
	<script src="dist/custom/js/forgot-password.js"></script>
	
</body>

</html>