<!DOCTYPE html>
<html lang="en">

<head>
	<%- include( '../partial/commonCss' ) %>
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->

	<div class="wrapper  pa-0">

		<!-- Main Content -->
		<div class="page-wrapper pa-0 ma-0 auth-page">
			<div class="container-fluid">
				<!-- Row -->
				<div class="table-struct full-width full-height">
					<div class="table-cell vertical-align-middle auth-form-wrap">
						<div class="auth-form  ml-auto mr-auto no-float">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="sp-logo-wrap text-center pa-0 mb-30">
										<a class="brand-logo">
											<img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
											<span class="brand-text"><strong class="text-danger">KUSHAL</strong>
												ENTERPRISES</span>
										</a>
									</div>
									<div class="mb-30">
										<h3 class="text-center txt-dark mb-10">Reset Password</h3>
									</div>
									<div class="form-wrap">
										<div class="form-group">
											<label class="pull-left control-label mb-10" for="exampleInputpwd_1">Email
												Id</label>
											<input type="text" class="form-control" required="" id="email"
												placeholder="Enter Email" value="<%= email %>" disabled>
										</div>
										<div class="form-group">
											<label class="pull-left control-label mb-10" for="exampleInputpwd_2">New
												Password</label>
											<input type="password" class="form-control" required=""
												id="exampleInputpwd_2" placeholder="Enter New pwd">
											<span class="error_span" id="passwordError">Password cannot be empty</span>
										</div>
										<div class="form-group">
											<label class="pull-left control-label mb-10" for="exampleInputpwd_3">Confirm
												Password</label>
											<input type="password" class="form-control" required=""
												id="exampleInputpwd_3" placeholder="Re-Enter pwd">
											<span class="error_span" id="confirmPasswordError">Passwords do not match</span>
										</div>
										<span class="error_span"></span>
										<span class="text-success success-span"></span>
										<div class="form-group text-center">
											<button type="submit"
												class="btn btn-primary btn-sm btn-rounded update-password">Reset</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

		</div>
		<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->

	<!-- jQuery -->
	<script src="../vendors/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>

	<!-- Init JavaScript -->
	<script src="dist/js/init.js"></script>
	<script src="dist/custom/js/forgot-password.js"></script>
</body>

</html>